body {
  font-family: Arial, sans-serif;
  background: #e9ecb8;
  margin: 0;
  padding: 20px;
}

.form-wrapper {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-wrapper h3 {
  text-align: center;
  margin-bottom: 15px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: #4ca1af;
  color: white;
  width: 50%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}


.invalid-feedback {
  display: none;
  color: red;
  font-size: 12px;
}

/* Table Styles */
.table-container {
  margin-top: 30px;
  background: white;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background: #4ca1af;
  color: white;
}

/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
